/* Hero */
.mt-custom {
  margin-top: 40px;
}
.prinsip-desc {
  color: var(--text-color);
}
.btn-tag {
  background-color: #f1b600;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  transition: background-color 0.3s ease;
}
.btn-tag:hover {
  background-color: #d49900;
  color: white;
}
[id^="section"] {
  scroll-margin-top: 100px;
}
p {
  text-align: justify;
}

.cta-prompt p{
  text-align: center;
  margin-top: 40px;
}
