/* Section Styles */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  color: var(--text-color);
  flex-wrap: wrap;
}

/* Tentang COC */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  margin: 100px auto 60px auto;
  max-width: 90%;
  flex-wrap: wrap;
  flex-direction: row;
}
.prinsip-desc {
  color: var(--text-color);
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 128px;
}
.prinsip-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  line-height: 1.6;
}
.emoji-icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  padding-top: 3px;
  object-fit: contain;
}
.hero-image {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  text-align: center;
}
.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 50px;
}

/* Tentang Pembuat */
.card {
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin-top: 80px;
  transition: transform 0.3s ease;
}
.card-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
h2 {
  margin-bottom: 24px;
  text-align: center;
}
.info-grid {
  flex: 1 1 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
.info-box {
  flex: 1 1 45%;
  background-color: #f9f9f9;
  border-left: 6px solid #edb427;
  padding: 1rem 1.2rem;
  border-radius: 0.75rem;
}
.info-box strong {
  display: block;
  margin-bottom: 0.5rem;
  color: #2e2e2e;
}
.photo {
  flex: 1 1 35%;
  text-align: center;
}
.photo img {
  width: 100%;
  max-width: 300px;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Daftar Referensi */
.card.references {
  max-width: 1400px;
  width: 100%;
  margin: 80px auto 0 auto;
}
.card.references h2 {
  margin-bottom: 50px;
}
.ref-section {
  margin-left: 60px;
  margin-bottom: 32px;
}
.ref-section h3 {
  font-size: 20px;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ea5937;
}
.ref-section a {
  text-decoration: none;
  color: #2e2e2e;
}
.references ul {
  list-style: square;
  padding-left: 50px;
}
.references li {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.references li::marker {
  color: #ea5937;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .section {
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
  }
  .card {
    padding: 20px 16px;
  }
  .card p {
    text-align: justify;
  }
  .card-content {
    flex-direction: column;
    align-items: center;
  }
  .hero-image {
    text-align: center;
    margin-bottom: 32px !important;
  }
  .info-grid {
    width: 100%;
    justify-content: center;
  }
  .prinsip-desc {
    padding: 20px 24px;
  }
  .info-box .photo {
    flex: 1 1 100%;
  }
  .ref-section {
    margin-left: 20px;
  }
}
